@media(width < 942px) {
    .content{
        flex-wrap: wrap;
    }
    header {
        display: flex;
        flex-direction: column;
    }
    .menu li a {
        font-size: 14px;
        margin-right: 20px;
    }
    .text-container p{
        padding: 0px;
    }
    .image-container img {
        max-width: 400px;
    }
    .compositores{
        max-width: 600px;
    }
    .imagem-compositor img {
        max-width: 300px;
        min-height: 250px;
    }
    .aside p{
        width: 100%;
    }
    .card-music {
        width: 100%;
    }
    #historia p {
        padding: 10px;
        font-size: 1.2rem;
        line-height: 30px;
    }
    .curiosidades{
        grid-template-columns: none;
    }
}