@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

:root {
    --font-primary: "Bodoni Moda SC", serif;
    --font-body: "Libre Baskerville", serif;
    --font-text: "Merriweather", serif;
    --antico-violino-1: #f2a35e;
    --antico-violino-2: #f2ceae;
    --antico-violino-3: #f2600c;
    --antico-violino-4: #a64029;
    --antico-violino-5: #260101;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-body);
}
.header-container {
    background-image: url("../images/back-header.jpg");
    background-size: cover;
    background-attachment: fixed;

    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    width: 100%;
    border-bottom: 1px solid #fff;
}

#logo {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#logo img {
    width: 100%;
    height: 100%;
}
.title,
.title a {
    color: white;
    font-family: var(--font-primary);
    font-weight: 800;
    text-decoration: none;
    font-size: 32px;
    line-height: 38px;
    text-align: left;
    margin-right: 0px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.menu li a {
    margin-right: 83px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.menu li a:hover {
    color: #f2a35e;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
}

.banner {
    display: flex;
    justify-content: center;
    padding: 5%;
}

.content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
}

.image-container {
    flex: 3;
    display: flex;
    justify-content: center;
}

.image-container img {
    max-width: 50vw;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
    
}
.image-container img:hover {
    transform: scale(1.1);
}

.text-container {
    flex: 1;
    padding-left: 20px;
    text-align: center;
}


.text-container p {
    font-family: var(--font-text);
    font-size: 3rem;
    font-weight: 600;
    line-height: 50px;
    color: #fff;
    padding: 30px;
    border-radius: 70px 7px;
}

#historia{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 3px solid var(--antico-violino-1);
    border-bottom: 3px solid var(--antico-violino-4);
    width: 100%;
    text-align: center;
    padding: 20px;
    background-image: url("../images/dark-wood.jpg");
}
#historia h2 {
    color: white;
    font-family: var(--font-primary);
    font-weight: 800;
    border-bottom: 2px solid #fff;
    font-size: 2rem;
    line-height: 42px;
    text-align: center;
    margin-bottom: 20px;
}
#historia h3 {
    font-size: 1.5rem; 
    font-family: (var(--font-body));
    margin-top: 2rem; 
    margin-bottom: 0.5rem; 
    color: var(--antico-violino-3);
    border-left: 4px solid var(--antico-violino-1);
    padding-left: 10px; 
}
#historia p {
    font-family: var(--font-text);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: #f2f2f2;
    padding: 0 20px;
    text-align: justify;
    max-width: 800px;
    letter-spacing: 0.5px;
    margin: 0 auto;
    text-indent: 50px;
}
.cp-container {
    display: flex;
    justify-content: center;
    background-image: url("../images/back-main.jpg");
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
}

#cp {
    transition-delay: 2s;
}
.compositores {
    background-image: url("../images/ocean.jpg");
    width: 1200px;
    color: white;
    padding: 40px 20px;
    text-align: center;
    box-shadow: -2px 4px 20px 0px rgb(128 128 128 / 50%);
    border-radius: 5%;
}

#tile-compositores {
    font-family: var(--font-primary);
    font-size: 3rem;
    font-weight: 800;
    line-height: 38px;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}
.compositor {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #444;
    padding-bottom: 20px;
    align-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}
.compositor:last-child{
    border-bottom: none;
}

.aside {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    width: 100%;
}

.resumo {
    flex: 2; 
    text-align: center;
    padding: 0 20px; 
    width: 100%;
}

.aside p {
    width: 600px;
    padding: 20px;
    line-height: 1.6;
    text-indent: 20px;
    margin: 0 auto;
    text-align: justify;
}

.imagem-compositor {
    flex: 1; 
    display: flex;
    justify-content: center;
}

.imagem-compositor img {
    border-radius: 40px;
    box-shadow: 0px 0px 10px    rgba(0, 0, 0, 0.5);
    width: 600px; 
    max-height: 750px;
    margin-top: 20px;
    border: 2px solid var(--antico-violino-5);
    transition: 1s;
}
.imagem-compositor img:hover{
    border: 2px solid var(--antico-violino-1);
    transition: 1s;
    width: 650px;
    max-height: 800px;
}
.card-music {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 20px auto;
}

#saiba-mais {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid var(--antico-violino-1);
    padding: 40px 20px;
    background-color: var(--antico-violino-5);
    color: #f2f2f2;
    width: 100%;
    text-align: center;
}

#saiba-mais h2 {
    font-family: var(--font-primary);
    border-bottom: 1px solid #fff;
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
    margin-top: -30px;
}

.curiosidades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
}

.curiosidade {
    background-color: var(--antico-violino-4);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.curiosidade:hover {
    transform: translateY(-5px);
}

.curiosidade h3 {
    font-family: var(--font-body);
    color: var(--antico-violino-1);
    border-bottom: 1px solid var(--antico-violino-1);
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.curiosidade p {
    font-family: var(--font-text);
    font-size: 1rem;
    line-height: 1.6rem;
    color: #f2f2f2;
}


footer {
    background-color: var(--antico-violino-5);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-top: 3px solid var(--antico-violino-1);
}
footer p {
    font-family: var(--font-text);
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 30px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    line-height: 35px;
}
